.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    width: 50vw;
    height: 170px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 50px;
    z-index: 1;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 500;
    transition: all 0.3s ease-in-out;

    .image {
        height: 400px;
        top: -90px;
    }
}

.container img {
    height: 150px;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.text {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    left: 15px;
    top: 15px;
    background-color: rgba(211, 211, 211, 0.65);
    padding: 5px 10px;

}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 50px;
}


.genre {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    right: 0px;
}

.genre span {
    padding: 0px 5px 5px;
    width: 120px;
    max-width: 120px;
}

.Adventure {
    background-color: #000000;
    color: #FFFFFF;
}

.Indie {
    background-color: #673AB7;
    color: #FFFFFF;
}

.RPG {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.Strategy {
    background-color: #FF5722;
    color: #FFFFFF;
}

.Shooter {
    background-color: #2196F3;
    color: #FFFFFF;
}

.Casual {
    background-color: #F44336;
    color: #FFFFFF;
}

.Action {
    background-color: #9C27B0;
    color: #FFFFFF;
}

.Simulation {
    background-color: #00BCD4;
    color: #FFFFFF;
}

.Puzzle {
    background-color: #795548;
    color: #FFFFFF;
}

.Arcade {
    background-color: #FF9800;
    color: #FFFFFF;
}

.Platformer {
    background-color: #607D8B;
    color: #FFFFFF;
}

.Massively_Multiplayer {
    background-color: #E91E63;
    color: #FFFFFF;

}

.Racing {
    background-color: #3F51B5;
    color: #FFFFFF;
}

.Sports {
    background-color: #8BC34A;
    color: #FFFFFF;
}

.Fighting {
    background-color: #aa048e;
    color: #FFFFFF;
}

.Family {
    background-color: #9E9E9E;
    color: #FFFFFF;
}

.Board_Games {
    background-color: #2196F3;
    color: #FFFFFF;
}

.Educational {
    background-color: #4CAF50;
    color: #FFFFFF;
}