.container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.select {
    width: 150px;
    max-width: 150px;
    font-size: 1.2rem;
    font-weight: 500;
}

.select option {
    width: 100px;
    text-overflow: ellipsis;
    max-width: 100px;
}