.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    /* transition: all 0.3s ease-in-out; */
    /* cursor: pointer; */
    position: fixed;
    top: 0px;
    background: #242424;
}