#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.alert {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;
  z-index: 10000000000;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  z-index: 10000000000;
}

.alert-error {
  position: absolute;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  z-index: 10000000000;
}

.close {
  border: none;
  outline: none;
  box-shadow: none;
}