.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* right: 0px; */
    position: relative;
    gap: 15px;
    /* width: 100%; */
    /* top: 20px; */
}