.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.input {
    font-size: 1.2rem;
    font-weight: 500;
}