.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 64px;
    position: relative;
    top: 50px;
}

.pressStart{
    animation: fadeIn 1.25s infinite alternate linear;
    /* transition: all 0.1s; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}